Options MultiViews

RedirectMatch permanent /feed\.xml$  http://feeds.feedburner.com/teksol
RedirectMatch permanent (.*)/comments $1#disqus_thread
RedirectMatch permanent /articles(.*) $1

RedirectMatch permanent /(200\d)/([1-9])/(.*) /$1/0$2/$3
RedirectMatch permanent /(200\d)/(0[1-9]|1\d)/([1-9])/(.*) /$1/$2/0$3/$4
